/* ------------------ */
/* ----- NAVBAR ----- */
/* ------------------ */

.navbar {
  background-color: #304366;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 3em;
  color: #9CB0AE;
}

.navbar .h1 {
  font-weight: 300;
}